h3{

    font-size: 250%;
    padding-top:1.0em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom:1,5em;
    font-family: verdana;
    padding-right:0.5em;

    }
    section {
        padding-left:0em;
      }
    .imageBox{

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        height:280px;
        width:900px;
        background-image: url("cropped.jpg");
        background-size:100%;
        background-repeat: no-repeat;
        opacity: 1;
        background-color: white;
        display: block;
}

p {

    width:100%;
    padding-bottom: 2em;
  }

main{

    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

@media only screen and (max-width: 1200px) {


    .imageBox{

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        height:230px;
        width:350px;
        background-image: url("cropped2.jpg");
        background-size:100%;
        background-repeat: no-repeat;
        opacity: 1;
        background-color: white;
        display: block;
    }
    
}



@media only screen and (max-width: 800px) {
    
main{

    width: 90%;
}
    
.container {

    flex-direction: column;
    color:black;
}

h3{
    padding-top:0.1em;
    position:relative;
    left:15px;
}

.imageBox{

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height:215px;
    width:325px;
    background-image: url("cropped2.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    opacity: 1;
    background-color: white;
    display: block;
}







}
    
