h3{

    font-size: 250%;
    padding-top:1.0em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom:1,5em;
    font-family: verdana;
    padding-right:0.5em;

    }

@media only screen and (max-width: 800px) {
        .container {

        flex-direction: column;
        color:black;
    }

h3{
    padding-top:0.1em;

    position:relative;
    left:15px;
}

}
    
