html, body {
  margin:0;
  padding:0;

}

body {
    background-color:white;
    background-image: url("bkg4.png");

  }

  h2{
    font-family: verdana;
  }

h1{
  font-family: verdana;

}

.linkLines{
  display:inline;
}

nav {
    font-size: 140%;
    text-align: center;
    position:relative;
    margin-right:auto;
    margin-left:auto;
    top:0.4em;
    right:4.9em;
    font-family: verdana;
}

footer{
  font-size: 140%;
  font-family: verdana;
  padding-top:0.5em;
}

section {
  padding-left:5em;
}

.latestPostsLine{
  border-bottom: 4px solid black;
  width:60%;
  margin-right:auto;
  margin-left:auto;
  border-radius: 8px;
  margin-bottom: 3rem;

}

.mainh1 {
  text-decoration:none;
  top:0.4em;
  font-size: 165%;
  padding: 0px;
  margin: 0px;
  position:relative;
  left:0.5em;
}

footer {
  border-top: 4px solid black;
  height:1.5em;
  background-color: white;
  position:fixed;
  bottom:0px;
  width: 100%;
}

  p {
    font-family: verdana;
    font-size: 130%;
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    display: flex;
    flex-direction: row;
}

.items {

    display: inline;
}

.footerLinks {
  position: relative;
  left:1em;
}

.bottomLine{
  border-bottom: 4px solid black;
  width:85%;
  margin-right:auto;
  margin-left:auto;
  border-radius: 8px;
  margin-top: 3rem;
  margin-bottom: 6rem;
  
}

  @media only screen and (max-width: 1200px) {

    body {
      background-color: white;
    }

    h2{
      font-family: verdana;
    }
    
    nav {
      font-size: 150%;
      margin-right:0;
      right:1em;
    }
}
  @media only screen and (max-width: 800px) {
    body {
      background-color: white;
    }
}

  @media only screen and (max-width: 800px) {
	.container {
        flex-direction: column;
        color:black;
     }
  .items{
     display: block;
    }

    nav{
      right:0em;

      padding-top: 1rem;
      position:relative;
      margin-left:auto;
      margin-right:auto;
      color: orange;
    }

  p {
    width:100%;
  }

    .center{
      display:none;
    }

    section {
      padding-left:1em;
    }

    .linkLines{
      display:none;
    }

    .mainh1{
      margin-left: auto;
      margin-right: auto;
      right: 0em;
      font-size: 200%;
      position:relative;
      left:0.0em;
    }

    footer{
      border-top: 2px solid black;
      border-bottom: 0px solid black;
      font-size: 80%;

      height:0.5em;
    }

.footerLinks {
  position: relative;
  bottom:0.7em;
  font-size: 75%;
  margin-right: auto;
}
  }


  
  