html, body {
  margin:0;
  padding:0;
}


body {
    background-color:white;
    background-image: url("bkg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2{
    font-family: verdana;
  }

h1{
  font-family: verdana;

}


.linkLines{
  display:inline;
}

nav {
    font-size: 140%;
    text-align: center;
    position:relative;
    margin-right:auto;
    margin-left:auto;
    top:0.4em;

    right:4.4em;
    font-family: verdana;
}

footer{
  font-size: 140%;
  font-family: verdana;
  padding-top:1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;

  margin-bottom: 2rem;
}

section {
  padding-left:5em;
}


.contact{
    margin:auto;
}

.latestPosts{
  font-size: 200%;
  width: 8em;
  white-space: nowrap;
  margin-right:auto;
  margin-left:auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow:0px 0px 0px 2px black inset;
  border-radius: 8px;
  font-weight: bold;
  font-family: verdana;

}

.latestPostsLine{
  border-bottom: 4px solid black;
  width:60%;
  margin-right:auto;
  margin-left:auto;
  border-radius: 8px;
  margin-bottom: 3rem;

}

.contactLine{
  border-bottom: 4px solid black;
  width:85%;
  margin-right:auto;
  margin-left:auto;
  border-radius: 8px;
  margin-top: 3rem;
  margin-bottom: 6rem;
  
}

.mainh1 {
  text-decoration:none;
  top:0.4em;
  font-size: 165%;
  padding: 0px;
  margin: 0px;
  position:relative;
  left:0.5em;
}

footer {
  border-top: 4px solid black;
  height:200px;

}

  p {
    font-family: verdana;
    font-size: 100%;
    width:90%;
    margin-left: auto;
    margin-right: auto;

  }

  .container {
    display: flex;
    flex-direction: row;
}

.items {

    display: inline;
}

  @media only screen and (min-width: 1200px) {

    body {
      background-color: white;
    }

    h2{
      font-size: 250%;
      font-family: verdana;
    }
    
    nav {
      font-size: 150%;
      margin-right:0;
        right:1em;
    }
}
  @media only screen and (max-width: 800px) {
    body {
      background-color: white;
    }
}

  @media only screen and (max-width: 800px) {
	.container {
        flex-direction: column;
        color:black;
     }
  .items{
     display: block;
    }

    nav{
      right:0em;

      padding-top: 1rem;
      position:relative;
      margin-left:auto;
      margin-right:auto;
      color: orange;
    }

  p {
    width:100%;
  }

    .center{
      display:none;
    }

    section {
      padding-left:1em;
    }

    .linkLines{
      display:none;
    }
  }

  .footerLinks {
    position: relative;
    left:1em;
  }
  